#header {
      background: white;
      height: 317px;
}
.header_title {
      position: relative; 
      float: left;
      top: 3%;
      color: black;
      width: 100%;
}
.header_title_name {
      background: #ADD8E6;
      display: inline-block;
      width: 100%;
      font-size: 60px;
}
.header_title_name1 {
      background: #ADD8E6;
      display: inline-block;
      width: 100%;
      font-size: 35px;
}
.header_title_name2 {
      background: #ADD8E6;
      display: inline-block;
      width: 100%;
      font-size: 25px;
}
#avatar {
    position: absolute; 
    right: 50px; 
    top: 20px;
    height: auto; 
    width: auto; 
    max-width: 350px; 
    max-height: 305px;
}
#content {
      background: #d2d0d2;
      height: 590px;
}
.content_section {
      margin: 30px;
}
.section_title {
      background: #F0FFFF;
      font-size: 25px;
      color: black;
      width: 100%;
      display: inline-block;
}
.section_title1{
	background: #d2d0d2;
      display: inline-block;
      width: 100%;
      font-size: 21px;
}
.section_title2{
	background: #d2d0d2;
      display: inline-block;
      width: 100%;
      font-size: 18px;
}

#left_content_div {
      float: left; 
      width: 40%;
}

#right_content_div {
      float: right; 
      width: 50%;
}

#footer {
      background: #858F9B;
      height: 30px;
}